body {
    font-family: 'Arial';
}

.Image{
    position:flex;
    width:auto;
    height:40vh;
    margin:0.5vw;
    transition: 0.3s;
}

.Image:hover {
    width:auto;
    height:41vh;
}

.Images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Row1 {
    top: 50vh
}

.Banner {
    width:100vw;
    height:auto;
    left:0px;
    top:0px;
    margin:-0.4vw -0.4vw 1vw -0.4vw;
    padding:0px;
}
